<header>
<h1><%= link_to 'Moneyger', home_index_path, class: 'head' %></h1>
<h2>登録する</h2>
</header>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
  <%= f.label :ユーザー名を入力してください %><br />
  <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :パスワードを入力してください %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワードを入力してださい（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<br>
<%= link_to"top",home_index_path %>