
<h2>グループに参加しましょう！</h2>

<%= form_tag({controller:'groups', action:'sanka2' },{method: :post})  do %>
<%= label_tag :名前 %> <%= text_field_tag :name %>
<%= label_tag :あいことば %> <%= text_field_tag :aiko %>
<%= submit_tag "グループ参加"%>
<% end %>
