

<h2>グループメンバー一覧</h2><br>
  <tr><th colspan = "2"><summary><%= @user.username %></summary></th></tr>
  <table class="table table-bordered table-hover">
    <% @user.memos.each do |memo|%>
      <tr><th><h3><%= memo.title %></p></h3></th>
      <td><h3><%= memo.bank %>円</p></h3></td></tr>
    <% end %><br>
  </table>

  <% @others.each do |user| %>
    <br>
    <details>
      <tr><th colspan = "2"><summary><%= user.username %></summary></th></tr>
      <table class="table table-bordered table-hover">
        <% user.memos.each do |memo|%>
          <tr>
            <th><h3><p><%= memo.title %></p></h3></th>
            <td><h3><p><%= memo.bank %>円</p></h3></td>
          </tr>
        <% end %><br>
      </table>

      <%= form_with url: {controller: "groups", action: "remittance_out"} do |form| %>
        <%= form.text_field :money,:placeholder => "送金する金額を入力してください。" %>/
        <%= form.text_field :comment,:placeholder => "詳細を入力してください。" %>
        <br>
        <%= form_tag(memos_path,:method => 'get') do %> 
          <select name="mae_out">
            <% @user.memos.each do |memo| %>
              <option value="<%= memo.id %>"><%= memo.title %></option>
            <% end %>
          </select>
          <select name="saki_out">
            <% user.memos.each do |memo| %>
              <option value="<%= memo.id %>"><%= memo.title %></option>
            <% end %>
          </select>
          <%= submit_tag '送金' %>
        <% end %>
      <% end %>
    </details> 
  <% end %>