<header>
<h2>他のユーザー</h2>
</header>
<div id="rightMenu">
<h3>MENU</h3>
  <%= link_to"top",memos_path, class: 'btn' %><br>
  <%= link_to"他のユーザー一覧",users_path, class: 'btn' %><br>
  <%= link_to "ログアウト", destroy_user_session_path, method: "delete", class: 'btn' %><br>
</div>
<p>検索</p>
<%= form_tag(users_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :username => nil %>
<% end %>

 <% @users.each do |user| %>
     <%= user.username %><br />
 <% end %> 
 <%= yield %>
 <br><br>
 <%= link_to 'ホームに戻る', memos_path %>