<h2>履歴</h2>
<%= form_tag(logs_path,:method => 'get') do %>
    <select name="me" id="me">
        <% @memos.each do |memo| %>
            <option value="<%= memo.id %>"><%= memo.title %></option>
        <% end %>
    </select>
    <%= submit_tag '決定' %>
<% end %>
<br>
<% if params[:me] =%>
    <% if @logs_5.empty? %>
        <h2>正しい場所を選択してください</h2>
    <%else%>
        <div class="cp_box">
            <table class="table">
                <tr>
                    <th class="a">増加</th>
                    <th class="b">減少</th>
                    <th class="c">合計</th>
                    <th class="d">日付</th>
                    <th class="e">詳細</th>
                </tr>
                <% @logs_5.each do |log| %>
                    <tr>
                        <td><%= log.money %></td>
                        <td><%= log.minus %></td>
                        <td><%= log.sum %>円</td>
                        <td><%= log.created_at.to_s(:datetime_jp) %></td>
                        <td><%= log.comment %></td>
                    </tr>
                <% end %>
            </table>
            <% if @logs != @logs_5 %>
                <input id="cp00" type="checkbox">
                <label for="cp00">続きを読む</label>
                <div class="cp_container">
                    <table align="center">
                        <% @logs_others.each do |log| %>
                            <tr>
                                <td class="a"><%= log.money %></td>
                                <td class="b"><%= log.minus %></td>
                                <td class="c"><%= log.sum %></td>
                                <td class="d"><%= Date.current.strftime('%Y/%m/%dああああああ') %></td>
                                <td class="e"><%= log.comment %></td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            <% end %>
        </div>
    <% end %>
<% else %>
    <h2>履歴を表示したいものを選んでください</h2>
<% end %>