<div class="row">
<div class="col-2"></div>
<div class="col-6">

<h2>ようこそ、<%= current_user.username %>さん</h2>
<% if !current_user.group_id.nil? %>
  <div class="alert alert-primary"><b><%= @group.name %></b> グループに参加中</div>
<% end %>
</header>


<div id="leftContents">
  <% @memos.each do |memo| %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2"><%= memo.title %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>残金</td>
          <th><%= memo.bank %></th>
        </tr>
        <tr>
          <td><%= link_to '変更', memo, class: 'btn' %></td>
          <td><%= link_to '削除', memo, method: :delete, data: { confirm: '本当に消しますか?' }, class: 'btn' %></td>
        </tr>
      </tbody>
    </table>
  <br>
  <% end %>
</div>
<%= link_to '新しい金額場所の追加', new_memo_path, class: 'btn' %>

<div id="rightMenu">

  <h3>MENU</h3>
  <%= link_to"top",memos_path, class: 'btn' %><br>
  <% if current_user.group_id.nil? =%>                           <!--グループに入ってないとき-->
    <%= link_to "グループ作成",new_groups_path, class: 'btn' %><br>
    <%= link_to "グループ参加",groups_sanka_path, class: 'btn' %><br>
  <% else %>                                                     <!--グループに入っているとき-->
    <%= link_to "グループメンバー一覧",groups_path, class: 'btn' %><br>
    <%= link_to "グループ退会",groups_taikai_path, class: 'btn' %><br>
  <% end %>
  <%= link_to "履歴",logs_path, class: 'btn' %><br>
  <%= link_to "意見箱",soundboards_path, class: 'btn' %><br>
  <%= link_to "ログアウト", destroy_user_session_path, method: "delete", class: 'btn' %><br>
</div>
</div> 
</div>