<!- #mainContents end -></div>
<body>
<%= link_to '新しい金額場所の追加', new_memo_path, class: 'btn' %>
<h2>ようこそ、<%= current_user.username %>さん</h2>
<% if !current_user.group_id.nil? %>
  <h2><%= @group.name %>グループに参加中</h2>
<% end %>
</header>

<div id="mainContents">

    <% @memos.each do |memo| %>
   <table border =solid  >
    <br>
        <tbody id="table1">
        <tr>
          <th bgcolor="liteblue" colspan="3" ><%= memo.title %></th>
        </tr>
        <tr>
          <td>残金</td>
          <th colspan="2"><%= memo.bank %></th>
        </tr>
        <tr>
          <td><%= link_to '変更', memo, class: 'btn' %></td>
          <td><%= link_to '削除', memo, method: :delete, data: { confirm: '本当に消しますか?' }, class: 'btn' %></td>
        </tr>
      <% end %>
     </tbody>
    </table>
 </div>
      

<div id="rightMenu">
<h3>MENU</h3>
  <%= link_to"top",memos_path, class: 'btn' %><br>
  <% if current_user.group_id.nil? =%>                           <!--グループに入ってないとき-->
    <%= link_to "グループ作成",groups_new_path, class: 'btn' %><br>
    <%= link_to "グループ参加",groups_sanka_path, class: 'btn' %><br>
  <% else %>                                                     <!--グループに入っているとき-->
    <%= link_to "グループメンバー一覧",groups_show_path, class: 'btn' %><br>
    <%= link_to "グループ退会",groups_taikai_path, class: 'btn' %><br>

  <% end %>
    
  <%# <%= link_to"他のユーザー一覧",users_path, class: 'btn' %>
  <%= link_to "意見箱",soundboards_path, class: 'btn' %><br>
  <%= link_to "ログアウト", destroy_user_session_path, method: "delete", class: 'btn' %><br>

</div>
  



 </body>
   
</html>    