<p id="notice"><%= notice %></p>

<html>
  <meta charset = "utf-8">
<body>
  <strong>現在の金額:</strong>
  <%= @memo.bank %><br>
  <p>
  <strong>追加する金額を入力してください</strong>
  </p>
  <%= form_tag({controller: :memos, action: :plus}, id: :fm) do %>
      <%= text_field_tag :money, '' %>
      <%= submit_tag '追加' %>
  <% end %><br>
  <strong>引き出す金額を入力してください</strong>
  </p>
  <%= form_tag({controller: :memos, action: :hiku}, id: :fm) do %>
      <%= text_field_tag :money, '' %>
      <%= submit_tag '引出' %>
  <% end %><br>
  <%= link_to 'ホームに戻る', memos_path %>

</html> 