<!DOCTYPE html>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<html>
  <head>
    <title>Moneyger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div id="Moneyger">
        <div id="Moneyger-bk">
            <%= link_to image_tag('Moneyger.png',size:'450x100'),memos_path %>
        </div>
      </div>
    <%= yield %>
  </body>
</html>